<navbar class="nav-sidebar">
  <a href="#" class="logo">
    <img src="public/images/app-logo-2.png" alt="Logo" width="120" />
  </a>
  <div class="menus">
    <ul class="menu-list">
      <li class="menu-item">
        <a href="/home" class="menu-link"
          ><i class="icon fa fa-home"></i> Anasayfa</a
        >
      </li>
      <li class="menu-item">
        <a href="/search" class="menu-link"
          ><i class="icon fa fa-search"></i> Arama</a
        >
      </li>
      <li class="menu-item">
        <a href="/myShelf" class="menu-link"
          ><i class="icon fas fa-book"></i> Kütüphanem</a
        >
      </li>
      <li class="menu-item">
        <a href="/categories" class="menu-link"
          ><i class="icon fa fa-list"></i> Kategori</a
        >
      </li>
    </ul>
    <ul class="footer-list">
      <li class="footer-item">
        <a href="#" class="footer-link">Hakkımızda</a>
      </li>
      <li class="footer-item"><a href="#" class="footer-link">Destek</a></li>
      <li class="footer-item">
        <a href="#" class="footer-link">Şartlar ve Koşullar</a>
      </li>
    </ul>
  </div>
</navbar>
