.index-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 150px;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: 76px;
  color: white;
  background-color: white;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.index-wrapper::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  filter: blur(10px);
  z-index: -1;
}
.index-wrapper .index-buttons {
  display: flex;
  gap: 15px;
}
